@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #050201;
  --black-100: #131622;
  --black-200: #616161;
  --black-300: #141922;
  --black-400: #161D26;
  --white: #FFFFFF;
  --gray-100: #818181;
  --gray-200: #848484;
  --success: #08C077;
  --red: #EF4444;
  --blue: #9199B1;
  --pink: #F63966;

}

body {
  color: var(--white);
  background-color: var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
